<style>
#footer  {
  font-size: 0.9rem;
  color: #fff;
  margin-top: 6rem;
  margin-bottom: 0rem;
  padding: 4rem 0;
  background-color: #000 ;
}

#footer a {
  color: #07d3b5;
  text-decoration: underline;
}

</style>







<div id="footer">

<div class="container" >
<p>
Candidates and arts advocates alike are welcome to share the responses on this website! However, please note that as a 501(c)3, ArtsEd Washington supports Arts Education for all students through voter information, and does not endorse or oppose any candidate or party.
</p>
<p>
If you'd like to learn more about arts education in Washington schools, you are welcome to connect with us on <a href="http://www.instagram.com/artsedwashington" target="_blank">Instagram</a>, <a href="https://www.facebook.com/artsedwashington" target="_blank">Facebook</a>, <a href="https://www.linkedin.com/company/artsed-washington" target="_blank">LinkedIn</a>, our <a href="https://www.artsedwashington.org/" target="_blank">AEW website</a>, and our <a href="https://www.artsedwashington.org/newsletters" target="_blank">ArtsEd Newsletter</a>! If you have any questions about this project, please email us at <a href="mailto:office@artsedwashington.org">office@artsedwashington.org</a>.
</p>
</div>
</div>




