.response {
  color: $teal-700;
}

.navbar-dark.navbar-sbc .navbar-nav .nav-link {
  color: $white;
}

@media (min-width: 992px) {
  .navbar-sbc {
    padding-right: 12rem;
  }
}

body {
  background-image: url("/assets/header-2025.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 250px;
}

main {
  padding-top: 18rem;
}

.district {
  background-color: #f0bb18;
  background-repeat: no-repeat;
  height: 5rem;
  padding-top: 1.4rem;
}

// .district:nth-child(odd) {
//   background-image: url("/assets/districts-left.svg");
//   background-position: left center;
// }

// .district:nth-child(even) {
//   background-image: url("/assets/districts-right.svg");
//   background-position: right center;
// }

.response a {
  color: $teal-700;
}

.nav-item  {
  font-weight: bold;
  background-color: rgba(0,0,0, 0.5);
}