.response {
  color: $teal-700;
}

.navbar-dark.navbar-sbc .navbar-nav .nav-link {
  color: $white;
}

@media (min-width: 992px){
  .navbar-sbc {
    padding-right: 12rem;
  }
}

body {
  background-image: url("/assets/header.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

main {
  padding-top: 18rem;
}

.district {
  background-color: rgb(91.369629%, 76.469421%, 7.058716%);
  background-repeat: no-repeat;
  height: 5rem;
  padding-top: 1.4rem
}

.district:nth-child(odd){
  background-image: url("/assets/districts-left.svg");
  background-position: left center;
}

.district:nth-child(even){
  background-image: url("/assets/districts-right.svg");
  background-position: right center;
}
