---
layout: survey_default
nav: false
---

<h1>ESD {{page.items.first.esd}} {{page.items.first.esd_name}}</h1>

<p>
All candidates who provided a valid email address when they registered their campaign have been invited to participate.
</p>
<p>
If you don't see your district's candidates and would like them to answer these questions, feel free to email them the link below and cc office@artsedwashington.org.
We're happy to add their responses. <a href="https://forms.gle/HPL5bJr7eKZWwXAo8">https://forms.gle/HPL5bJr7eKZWwXAo8</a>
</p>
<p>
To find contact information, go to <a href="https://voter.votewa.gov/CandidateList.asp">https://voter.votewa.gov/CandidateList.asp</a>, choose your County and add the word "school" under District type.</p>
{% assign grouped_districts = page.items | group_by: 'district' %}

<ul style="columns: 2">
  {% for district in grouped_districts %}
    <li>
      <a href="#{{district.name | slugify}}">{{district.name}} {{district.items.first.type}}</a>
    </li>
  {% endfor %}
</ul>

{% for district in grouped_districts %}
  <h2 class="text-center district" id="{{district.name | slugify}}">{{district.name}} {{district.items.first.type}}</h2>
  {% assign positions = district.items | group_by: 'position' %}
  {% for position in positions %}
    <h3>Position {{position.name}}</h3>
    <div class="row g-4">
      {% for person in position.items %}
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{person.name}}</h5>
              <p class="card-text">
                <p><strong>Which of these arts did you have as a part of your own K-12 education?</strong></p>
                <p>{{person.arts | markdownify}}</p>
                <p><strong>How did the arts impact your education and life after high school?</strong></p>
                <p>{{person.impact | markdownify}}</p>
                <p><strong>Research has shown that arts education increases student engagement, helps close opportunity gaps, and reduces drop out rates, yet income, race, and geography continue to be barriers to access to the arts. How do you see yourself addressing fair access in your district?</strong></p>
                <p>{{person.access | markdownify}}</p>
                <p><strong>If elected, which of these strategies would you consider to support arts education in your district?</strong></p>
                <ul>
                  {% assign strategies = person.strategies | split: ";" %}
                  {% for strategy in strategies %}
                    <li>{{ strategy }}</li>
                  {% endfor %}
                </ul>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  <a href="#top">Back to top</a>
{% endfor %}
