---
layout: survey_default
nav: false
---

<h1>ESD {{ page.items.first.esd }} {{ page.items.first.esd_name }}</h1>



{% assign grouped_districts = page.items | group_by: 'district' %}

<ul style="columns: 2">
  {% for district in grouped_districts %}
    <li>
      <a href="#{{district.name | slugify}}" style="color:#405176">{{ district.name }} {{ district.items.first.type }}</a>
    </li>
  {% endfor %}
</ul>
<br><br>
{% for district in grouped_districts %}
  <h2 class="text-center district" id="{{district.name | slugify}}">
    {{ district.name }} {{ district.items.first.type }}
  </h2>
  {% assign positions = district.items | group_by: 'position' %}
  {% for position in positions %}
    <h3>Position {{ position.name }}</h3>
    <div class="row g-4">
      {% for person in position.items %}
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ person.name | default: "Unnamed candidate" }}</h5>
              <div class="card-text">
                
                {%  comment %}Question 1{% endcomment %}
                {% if person.question1 %}
                  <p><strong>{{ person.question1 }}</strong></p>
                  <p>{{ person.response1 | default: "" | markdownify }}</p>
                {% endif %}

                {% comment %}Question 2{% endcomment %}
                {% if person.question2 %}
                  <p><strong>{{ person.question2 }}</strong></p>
                  <p>{{ person.response2 | default: "" | markdownify }}</p>
                {% endif %}

                {% comment %}Question 3 - List format{% endcomment %}
                {% if person.question3 %}
                  <p><strong>{{ person.question3 }}</strong></p>
                  <ul>
                    {% assign strategies = person.response3 | default: "" | split: ";" %}
                    {% for strategy in strategies %}
                      {% if strategy != "" %}
                        <li>{{ strategy }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}

                {% comment %}Question 4{% endcomment %}
                {% if person.question4 %}
                  <p><strong>{{ person.question4 }}</strong></p>
                  <p>{{ person.response4 | default: "" | markdownify }}</p>
                {% endif %}

                {% comment %}Question 5{% endcomment %}
                {% if person.question5 %}
                  <p><strong>{{ person.question5 }}</strong></p>
                  <p>{{ person.response5 | default: "" | markdownify }}</p>
                {% endif %}

                {% comment %}Question 6{% endcomment %}
                {% if person.question6 %}
                  <p><strong>{{ person.question6 }}</strong></p>
                  <p>{{ person.response6 | default: "" | markdownify }}</p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  <a href="#top" style="color:#405176">Back to top</a><br>
{% endfor %}